<div>
    <div class="row">
        <div class="col-md-4">
            <label for="" class="requerido"> Nombre: </label>
        </div>
        <div class="col-md">
            <div class="d-flex">
                <span>ECOMMERCE</span>
                <input type="text" class="ms-2 form-control">
            </div>
        </div>
    </div>
    <div class="row my-1">
        <div class="col-md-4">
            <label for="" class="requerido"> Tipo:</label>
        </div>
        <div class="col-md">
            <select class="form-select" aria-label="Default select example">
                <!--<option selected>Elija el tipo</option>-->
                <option value="1" selected>Texto</option>
                <option value="2">Número</option>
                <option value="3">Lista</option>
              </select>
        </div>
    </div>
    <div class="row my-1">
        <div class="col-md-4">
            <label for="" class="requerido"> Longitud Máxima:</label>
        </div>
        <div class="col-md">
            <div class="d-flex">
                <input type="number" class="form-control" value="300">            
                <span class="ms-2">caracteres</span>
            </div>            
        </div>
    </div>
    <div class="row my-1">
        <div class="col-md-4">
            <label for="" class="requerido"> Número máximo de registros:</label>
        </div>
        <div class="col-md">
            <input type="number" class="form-control" value="5">
        </div>
    </div>

    <div class="row my-1">
        <div class="col-md-4">
            <label for="" class="requerido"> Orden:</label>
        </div>
        <div class="col-md">
            <input type="number" class="form-control" value="1">
        </div>
    </div>

    <div class="row my-1">
        <div class="col-md-4">
            <label for="" class="requerido"> Condición:</label>
        </div>
        <div class="col-md">
            <input type="text" class="form-control" value=" ">
        </div>
    </div>



</div>