<div class="container mt-3">
  <p-toast></p-toast>
  <div class="row py-3">
    <div class="col-md-9" style="text-align:start; padding: 5px;">
      <span>NOTA: Las imágenes marcadas con una x se rechazarán, y las no marcadas serán confirmadas.</span>
    </div>
    <div class="col-md-3" style="text-align: end; padding-right: 0px;">
      <button (click)="updateImages()" class="p-button-danger" label="Revisado >" pButton
              type="button"></button>
    </div>
  </div>
  <div class="contTable">
    <p-table
      [paginatorPosition]="'bottom'"
      [paginator]="true"
      [rowHover]="true"
      [rows]="2"
      [totalRecords]="totalRecords"
      [value]="itemsAssigned"
      dataKey="articleBarcode">
      <ng-template pTemplate="header">
        <tr>
          <th class="sticky-col first-col labeltit" scope="col">ARTÍCULO</th>
          <th *ngFor="let prop of perspectiveTypes" scope="col ">
            <div class="labeltit">{{ prop.label }}</div>
          </th>
        </tr>
      </ng-template>
      <ng-template
        let-itemAssigned
        let-rowIndex="rowIndex"
        pTemplate="body">
        <tr class="ui-selectable-row">
          <td class="negro sticky-col first-col">
            <div class="d-flex">
              <div>
                <span
                  [title]="itemAssigned.description"
                  class="k-ellipsis cursorhand labeltit"
                  placement="top"
                  triggers="mouseenter:mouseleave">
                    {{ itemAssigned.barcode }} - {{ itemAssigned.description }}
                  </span>
              </div>
              <div>
                <div class="borderit">
                  <span>Nueva</span>
                </div>
                <div>
                  <span>Actual</span>
                </div>
              </div>
            </div>
          </td>

          <td *ngFor="let prop of perspectiveTypes">
            <div>
              <div class="border rounded">
                <div *ngIf="itemAssigned.perspectives[prop.value]?.url" class="m-2">
                  <div class="col-md-12" style="text-align: end; padding-right: 0px; padding-bottom: 3px;">
                    <p-checkbox (onChange)="ver(itemAssigned)"
                                [(ngModel)]="itemAssigned.perspectives[prop.value]['rmState']"
                                [binary]="true" checkboxIcon="pi pi-times"></p-checkbox>
                  </div>
                  <img (click)="comparar(itemAssigned, prop)"
                       [src]="itemAssigned.perspectives[prop.value]?.url" class="imgit">
                </div>
                <div *ngIf="!(itemAssigned.perspectives[prop.value]?.url)" class="m-2">
                  <div class="col-md-12" style="text-align: end; padding-right: 0px; padding-bottom: 3px;">
                    <p-checkbox [binary]="true" [disabled]="!(itemAssigned.perspectives[prop.value]?.previusUrl)" checkboxIcon="pi pi-times"></p-checkbox>
                  </div>
                  <img class="imgit" src="./assets/default.jpg"/>
                </div>
              </div>
              <div class="border rounded">
                <div class="m-2">
                  <img (click)="comparar(itemAssigned, prop)" *ngIf="itemAssigned.perspectives[prop.value]?.previusUrl"
                       [src]="itemAssigned.perspectives[prop.value]?.previusUrl" class="imgit">
                  <img *ngIf="!(itemAssigned.perspectives[prop.value]?.previusUrl)" class="imgit"
                       src="./assets/default.jpg"/>
                </div>
              </div>
            </div>

          </td>

        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<p-dialog
  [(visible)]="showModal"
  [maximizable]="true"
  [modal]="true"
  [style]="{ width: '70vw' }"
  header="Comparar Imágenes">
  <div class="border border-secondary rounded mt-2 mb-3 p-3">
    <div class="row">
      <div class="col-md-4">
        <span class="fw-light">Código de barras:</span>
        <span>{{ imageRowSelected.barcode }}</span>
      </div>
      <div class="col-md-4">
        <span class="fw-light">Artículo:</span>
        <span>{{ imageRowSelected.description }}</span>
      </div>
      <div class="col-md">
        <span class="fw-light">Perspectiva:</span>
        <span>{{ perspectiveSelected.label }}</span>
      </div>
    </div>
  </div>
  <div style="display:flex; width: 100%">
    <div style="width: 50%;">
      <div class="card">
        <div class="card-header">
          Imagen Actual
        </div>
        <div style="overflow: auto;height: 50vh; display:flex; align-items: center; justify-content: center">
          <img (click)="showImageZoom(selected.previusUrl)" *ngIf="selected?.previusUrl" [src]="selected?.previusUrl"
               style="height: 50vh;">
          <img *ngIf="!(selected?.previusUrl)" src="./assets/default.jpg" style="height: 40vh;"/>

        </div>
      </div>

    </div>
    <div style="width: 50%;">
      <div class="card">
        <div class="card-header">
          Nueva Imagen
        </div>
        <div style="overflow: auto;height: 50vh; display:flex; align-items: center; justify-content: center">
          <img *ngIf="!(selected?.url)" src="./assets/default.jpg" style="height: 40vh;"/>
          <img (click)="showImageZoom(selected.url)" *ngIf="selected?.url" [src]="selected.url" style="height: 50vh;">
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="selected">
    <div *ngIf="selected.checked">
      <div *ngIf="!selected.rmState" class="alert alert-success" role="alert">
        Aprobado
      </div>

      <div *ngIf="selected.rmState" class="alert alert-danger" role="alert">
        Rechazado
      </div>
    </div>
  </div>


  <div class="mt-2 d-flex justify-content-between">
    <div class="d-flex" *ngIf="!hasPreviusDontHasCurrentImage(selected)">
      <button (click)="aprobar()" *ngIf="selected" class="btn btn-sm btn-outline-danger me-3">
        <i class="fa fa-check"></i>
        Aprobar
      </button>
      <button (click)="rechazar()" *ngIf="selected" class="btn btn-sm btn-outline-danger">
        <i class="fa fa-times"></i>
        Rechazar
      </button>
    </div>
    <div *ngIf="hasPreviusDontHasCurrentImage(selected)">
      <button (click)="conservar()" *ngIf="selected" class="btn btn-sm btn-outline-danger me-3">
        <i class="fa fa-check"></i>
        Conservar
      </button>
      <button (click)="rechazar()" *ngIf="selected" class="btn btn-sm btn-outline-danger">
        <i class="fa fa-times"></i>
        Eliminar
      </button>
    </div>
    <div>
      <button (click)="back(true)" [disabled]="perspectiveTypes.indexOf(perspectiveSelected)===0"
              class="btn btn-sm btn-outline-danger me-2">
        <i class="fa-solid fa-chevron-left"></i>
        Anterior
      </button>
      <button (click)="next()" [disabled]="endImagesIterate"
              class="btn btn-sm btn-outline-danger me-2">
        Siguiente
        <i class="fa-solid fa-chevron-right"></i>
      </button>
      <button (click)="showModal=false;" class="btn btn-sm btn-outline-dark">
        Cancelar <i class="fa fa-times"></i>
      </button>
    </div>
  </div>

  <div *ngIf="urlImages">
    <app-imageviewer [(display)]="displayImage" [images]="urlImages"></app-imageviewer>
  </div>
</p-dialog>
