<div class="container mt-3">
  <p-toast></p-toast>
  <div class="row py-3">
    <div class="col-md-9" style="text-align:start; padding: 5px;">
      <span>NOTA: Las imágenes marcadas con una x se rechazarán, y las no marcadas serán confirmadas.</span>
    </div>
    <div class="col-md-3" style="text-align: end; padding-right: 0px;">
      <button (click)="updateImages()" class="p-button-danger" label="Revisado >" pButton
              type="button"></button>
    </div>
  </div>
  <div style="display:flex">
    <div *ngFor="let itemAssigned of itemsAssigned">
      <div class="card mx-2" style="width: fit-content;">
        <div class="card-header">
          <label><b>Art&iacute;culo:</b>{{ itemAssigned.barcode }}</label>
        </div>
        <div class="card-body" style="height: 20rem; text-align: center;">
          <div class="card" style="width: 13rem;">
            <div class="card-body">
              <div class="col-md-12" style="text-align: end; padding-right: 0px; padding-bottom: 3px;">
                <p-checkbox (onChange)="ver(itemAssigned)" [(ngModel)]="itemAssigned['rmState']"
                            [binary]="true" checkboxIcon="pi pi-times"></p-checkbox>
              </div>
              <img (click)="comparar(itemAssigned)" [src]="itemAssigned.url" class="card-img-top"
                   style="height: 100px; padding-top: 2%; cursor:pointer">
            </div>
            <div class="card-header" style="height: 6rem; padding-top: 2%;">
              <div [title]="itemAssigned.description">
                <label><b>Nombre:</b> {{ itemAssigned.description | slice:0:45 }} </label></div>
              <div [title]="itemAssigned.description">
                <label><b>Perspectiva:</b> {{ itemAssigned.description }}</label></div>
            </div>
            <!--
            <div>
              <button (click)="comparar(itemAssigned)" *ngIf="itemAssigned.previusUrl"
                      class="btn btn-sm btn-outline-danger">Comparar
              </button>
            </div>
            -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <p-paginator
      (onPageChange)="onPageChange($event)"
      [first]="first"
      [rowsPerPageOptions]="[10, 20, 30]"
      [rows]="rows"
      [totalRecords]="120">


    </p-paginator>
  </div>

</div>

<p-dialog
  [(visible)]="showModal"
  [maximizable]="true"
  [modal]="true"
  [style]="{ width: '70vw' }"
  header="Comparar Imágenes">
  <div class="border border-secondary rounded mt-2 mb-3 p-3">
    <div class="row">
      <div class="col-md-4">
        <span class="fw-light">Código de barras:</span>
        <span>{{ selected.barcode }}</span>
      </div>
      <div class="col-md-4">
        <span class="fw-light">Artículo:</span>
        <span>{{ selected.name }}</span>
      </div>
      <div class="col-md">
        <span class="fw-light">Perspectiva:</span>
        {{ selected.description }}
      </div>
    </div>
  </div>
  <div style="display:flex; width: 100%">
    <div style="width: 50%;">
      <div class="card">
        <div class="card-header">
          Imagen Actual
        </div>
        <div style="overflow: auto;height: 50vh; display:flex; align-items: center; justify-content: center">
          <img *ngIf="selected?.previusUrl" [src]="selected?.previusUrl" style="height: 50vh;">
          <span *ngIf="!(selected?.previusUrl)" class="text-muted">Sin imagen previa</span>
        </div>
      </div>

    </div>
    <div style="width: 50%;">
      <div class="card">
        <div class="card-header">
          Nueva Imagen
        </div>
        <div style="overflow: auto;height: 50vh; display:flex; align-items: center; justify-content: center">
          <img [src]="selected.url" style="height: 50vh;">
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="selected.checked">
    <div *ngIf="!selected.rmState" class="alert alert-success" role="alert">
      Aprobado
    </div>

    <div *ngIf="selected.rmState" class="alert alert-danger" role="alert">
      Rechazado
    </div>
  </div>

  <div class="mt-2 d-flex justify-content-between">
    <div class="d-flex">
      <button (click)="aprobar()" class="btn btn-sm btn-outline-danger me-3">
        <i class="fa fa-check"></i>
        Aprobar
      </button>
      <button (click)="rechazar()" class="btn btn-sm btn-outline-danger">
        <i class="fa fa-times"></i>
        Rechazar
      </button>
    </div>
    <div>
      <button (click)="back()" [disabled]="itemsAssigned.indexOf(selected)===0"
              class="btn btn-sm btn-outline-danger me-2">
        <i class="fa-solid fa-chevron-left"></i>
        Anterior
      </button>
      <button (click)="next()" [disabled]="itemsAssigned.indexOf(selected)==itemsAssigned.length-1"
              class="btn btn-sm btn-outline-danger me-2">
        Siguiente
        <i class="fa-solid fa-chevron-right"></i>
      </button>
      <button (click)="showModal=false;" class="btn btn-sm btn-outline-dark">
        Cancelar <i class="fa fa-times"></i>
      </button>
    </div>
  </div>
</p-dialog>
