<div>
  <div class="card mt-1">
    <div class="card-body">
      <div class="row">
        <div class="col-md-5" *ngIf="ctgtype.tipo==='Funcionalidad'">
          <p-fileUpload mode="basic" chooseLabel="Subir Imagen" name="demo[]" url="https://www.primefaces.org/cdn/api/upload.php" accept="image/*"></p-fileUpload>
        </div>
        <div class="col-md-7">
          <div class="row">
            <div class="col-md-4">
              <span style="color:red">*</span>
              Nombre:
            </div>
            <div class="col-md">
              <input
              type="text"
              [disabled]="false"
              class="ms-2 form-control"
              [(ngModel)]="form.nombre"
            />
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <span style="color:red">*</span>
              Orden:
            </div>
            <div class="col-md">
              <input
                type="text"
                [disabled]="false"
                class="ms-2 form-control"
                [(ngModel)]="form.orden"
              />
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <span style="color:red">*</span>
              Estado:
            </div>
            <div class="col-md">
              <select
                class="form-select ms-2"
                [disabled]="true"
                aria-label="Default select example"
                [(ngModel)]="tipoestadosel">
                <option value="1" selected>Activo</option>
                <option value="0">Inactivo</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
