.barra{
  width: 25%;

}
.main{
  width: 75%;

}

.alldiv{
  width: 100%;
  display: flex;
  flex-direction: row;
}

.celda{
  padding: 0px 10px;
  margin: 0px;
}

.enlace{
  color: #990000;
}

.enlace:hover{
  cursor:pointer;
  text-decoration:underline;
}

