<div>
    <div class="row my-1">
        <div class="col-md-4">
            <label for="" class="requerido"> Nombre: </label>
        </div>
        <div class="col-md">
            <div class="d-flex">
                <input type="text" [disabled]="true" class="ms-2 form-control" [(ngModel)]="feature.nombre">
            </div>
        </div>
    </div>
    <div class="row my-1">
        <div class="col-md-4">
            <label for="" class="requerido"> Tipo:</label>
        </div>
        <div class="col-md">
            <div class="d-flex">
                <input type="text" [disabled]="true" class="ms-2 form-control" [(ngModel)]="feature.tipo">
            </div>
        </div>
    </div>
    <div class="row my-1">
        <div class="col-md-4">
            <label for="" class="requerido"> Longitud Máxima:</label>
        </div>
        <div class="col-md">
            <div class="d-flex">
                <input type="text" [disabled]="true" class="ms-2 form-control" [(ngModel)]="feature.caracteres">
                <span class="ms-2">caracteres</span>
            </div>
        </div>
    </div>
    <div class="row my-1">
        <div class="col-md-4">
            <label for="" class="requerido"> Número máximo de registros:</label>
        </div>
        <div class="col-md">
            <div class="d-flex">
                <input type="number" [disabled]="true" class="ms-2 form-control" [(ngModel)]="feature.nreg">
            </div>
        </div>
    </div>

    <div class="row my-1">
        <div class="col-md-4">
            <label for="" class="requerido"> Orden:</label>
        </div>
        <div class="col-md">
            <div class="d-flex">
                <input type="number" [disabled]="true" class="ms-2 form-control" [(ngModel)]="feature.orden">
            </div>
        </div>
    </div>

    <div class="row my-1">
        <div class="col-md-4">
            <label for="" class="requerido"> Instrucciones:</label>
        </div>
        <div class="col-md">
            <div class="d-flex">
                <input type="text" [disabled]="true" class="ms-2 form-control" [(ngModel)]="feature.condicion">
            </div>
        </div>
    </div>

    <div class="row my-1">
        <div class="col-md-4">
            <label for="" class="requerido"> Obligatorio:</label>
        </div>
        <div class="col-md">
            <div class="d-flex">
                <input type="text" [disabled]="true" class="ms-2 form-control" [(ngModel)]="feature.obligatorio">
            </div>
        </div>
    </div>


</div>