.celda{
  padding: 0px 10px;
  margin: 0px;
}

.flex{
  display: flex;
  flex-direction: row;
}

.flexitem{
  margin: 0px 6px;
}



.hand{
  cursor: pointer;
}

.inactive{
  color: rgb(175, 172, 172);
}


.p-dialog-header{
  background: red !important;
}

.bgcolor{
  background-color: coral;
}
