<div class="container mt-3">
    <div class="border">
        <div class="card mt-1">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-5">

                        <div class="border">
                            <img src="assets/params/images/imgabarrotesvarios.jpg" alt="Img categ" class="img-fluid">
                        </div>

                    </div>
                    <div class="col-md-7">
                        <div class="row">
                            <div class="col-md-4">
                                Código Barra:
                            </div>
                            <div class="col-md">
                                <span class="fw-bold">{{articulo.codbarra}}</span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                Nombre Ecommerce:
                            </div>
                            <div class="col-md">
                                <span class="fw-bold">{{articulo.nomecommerce}}</span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                Descripción Ecommerce:
                            </div>
                            <div class="col-md">
                                <span class="fw-bold">{{articulo.descripcion}}</span>
                            </div>
                        </div>
                    </div>
                </div>


                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">COLOR</th>
                            <th scope="col">EDAD</th>
                            <th scope="col">ARMADO</th>
                            <th scope="col">NOMBRE</th>
                            <th scope="col">ALTO</th>
                            <th scope="col">ANCHO</th>
                            <th scope="col">PROFUNDIDAD</th>
                            <th scope="col">TAG</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="table-success">
                                <span>Negro con Rojo</span>
                            </td>
                            <td class="table-danger">
                                <span class="fa fa-times">  </span>
                            </td>
                            <td class="table-success">
                                <span>MEDIA</span>
                            </td>
                            <td class="table-success">
                                <span>Silla Gamer Negro Con Rojo Sa-R-7B Spice Time</span>
                            </td>                            
                            <td class="table-danger">
                                <span class="fa fa-times">  </span>
                            </td>
                            <td class="table-success">
                                <span>167</span>
                            </td>
                            <td class="table-success">
                                <span>53</span>
                            </td>
                            <td class="table-danger">
                                <span class="fa fa-times">  </span>
                            </td>

                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>