<div>
  <div class="row my-1">
    <div class="col-md-4">
      <label for="" class="requerido"> Código:</label>
    </div>
    <div class="col-md">
      <div class="d-flex">
        <input
          type="text"
          [disabled]="true"
          class="ms-2 form-control"
          [(ngModel)]="ctg.customCode"
        />
      </div>
    </div>
  </div>
  <div class="row my-1">
    <div class="col-md-4">
      <label for="" class="requerido"> Tipo:</label>
    </div>
    <div class="col-md">
      <div class="d-flex">
        <input
          type="text"
          [disabled]="true"
          class="ms-2 form-control"
          [(ngModel)]="ctg.tipo"
        />
      </div>
    </div>
  </div>
  <div class="row my-1">
    <div class="col-md-4">
      <label for="" class="requerido"> Nombre: </label>
    </div>
    <div class="col-md">
      <div class="d-flex">
        <input
          type="text"
          [disabled]="true"
          class="ms-2 form-control"
          [(ngModel)]="ctg.nombre"
        />
      </div>
    </div>
  </div>
  <div class="row my-1">
    <div class="col-md-4">
      <label for="" class="requerido"> Estado:</label>
    </div>
    <div class="col-md">
      <div class="d-flex">
        <input
          type="text"
          [disabled]="true"
          class="ms-2 form-control"
          value="Activo"
        />
      </div>
    </div>
  </div>

  <div class="row my-1">
    <div class="col-md-4">
      <label for="" class="requerido"> Fecha Creación:</label>
    </div>
    <div class="col-md">
      <div class="d-flex">
        <input
          type="text"
          [disabled]="true"
          class="ms-2 form-control"
          value="2023-04-05 18:46:03.125"
        />
      </div>
    </div>
  </div>

  <div class="row my-1">
    <div class="col-md-4">
      <label for="" class="requerido"> Creado por:</label>
    </div>
    <div class="col-md">
      <div class="d-flex">
        <input
          type="text"
          [disabled]="true"
          class="ms-2 form-control"
          value="smxadmin"
        />
      </div>
    </div>
  </div>

</div>
