<div>
  <div class="card mt-1">
    <div class="card-body">
      <div class="row">
        <div class="col-md-5" *ngIf="ctgtype.tipo==='Funcionalidad'">
          <div class="border" *ngIf="ctg.imagen">
            <img [src]="ctg.imagen" alt="Img categ" class="img-fluid hand" (click)="showGalleria()"/>
          </div>
        </div>
        <div class="col-md-7">
          <div class="row">
            <div class="col-md-4">Nombre:</div>
            <div class="col-md">
              <span class="fw-bold">{{ ctg.nombre }}</span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">Orden:</div>
            <div class="col-md">
              <span class="fw-bold">{{ ctg.orden }}</span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">Estado:</div>
            <div class="col-md">
              <span class="fw-bold">Activo</span>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">Fecha Atualización:</div>
            <div class="col-md">
              <span class="fw-bold">2023-04-05 18:46:03.125</span>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">Actualizado por:</div>
            <div class="col-md">
              <span class="fw-bold">smxadmin</span>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <p-galleria
  [value]="images"
  [(visible)]="displayImage"
  [responsiveOptions]="responsiveOptions"
  [containerStyle]="{ 'max-width': '50%' }"
  [numVisible]="9"
  [circular]="false"
  [fullScreen]="true"
  [showItemNavigators]="false"
  [showThumbnails]="false"
  [baseZIndex]="100000"
>
  <ng-template pTemplate="item" let-item>
    <img [src]="item.imagen" style="width: 100%; display: block" />
  </ng-template>
  <ng-template pTemplate="thumbnail" let-item>
    <div class="p-grid p-nogutter p-justify-center">
      <img [src]="item.imagen" class="imgthumbailsize" />
    </div>
  </ng-template>
</p-galleria>


</div>
