<div>
  <div class="card mt-1">
    <div class="card-body">
      <div class="row">
        <div class="col-md-5">
          <div class="border">
            <img [src]="ctg.imagen" alt="Img categ" class="img-fluid" />
          </div>
        </div>
        <div class="col-md-7">
          <div class="row">
            <div class="col-md-4">Nombre:</div>
            <div class="col-md">
              <span class="fw-bold">{{ ctg.nombre }}</span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">Orden:</div>
            <div class="col-md">
              <span class="fw-bold">{{ ctg.orden }}</span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">Estado:</div>
            <div class="col-md">
              <span class="fw-bold">Activo</span>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">Fecha Atualización:</div>
            <div class="col-md">
              <span class="fw-bold">2023-04-05 18:46:03.125</span>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">Actualizado por:</div>
            <div class="col-md">
              <span class="fw-bold">smxadmin</span>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
