<header class="navbar navbar-expand-md">
  <div class="container">
    <div class="row w-100">
      <div class="col-md-3">
        <span class="h3 textcolorcorp ">CAPED</span>
      </div>
      <div class="col-md">
        <div class="d-flex flex-row">
          <div class="botonhome">
            <a href="#">
              <img src="assets/params/images/home.png" alt="Inicio">
            </a>
          </div>

          <div *ngIf="pantalla==='home'">
            <a  class="hand" title="Agregar" (click)="showModalAgregar()">
              <img src="assets/params/images/plusicon.png" alt="Agregar">
            </a>
          </div>

          <div *ngIf="pantalla==='niveles'">
            <a  class="hand m-2" title="Agregar" (click)="crearNivel(0)">
              Crear
            </a>
          </div>

          <div *ngIf="pantalla==='niveles'&&level>=0">
            <a  class="hand m-2" title="Agregar" (click)="crearNivel(1)">
              Crear Nivel 2
            </a>
          </div>

          <div *ngIf="pantalla==='niveles'&&level>=1">
            <a  class="hand m-2" title="Nuevo" (click)="crearNivel(2)">
              Crear Nivel 3
            </a>
          </div>

          <div *ngIf="pantalla==='catalogos'">
            <a  class="hand ms-2 btn btn-sm btn-outline-danger" title="Agregar" (click)="gotoFeatures()">
              <i class="fa fa-plus"></i> Nuevo
            </a>
          </div>


          <div *ngIf="pantalla==='articulos'">
            <a  class="hand ms-2 btn btn-sm btn-outline-danger" title="Agregar" (click)="showCarga()">
              <i class="fa fa-upload"></i> Carga Masiva
            </a>
          </div>

          <div *ngIf="pantalla==='articulos'">
            <a  class="hand ms-2 btn btn-sm btn-outline-danger" title="Agregar" (click)="nothing()">
              <i class="fa fa-download"></i> Descarga Plantilla
            </a>
          </div>
          <div *ngIf="pantalla==='articulos'">
            <a  class="hand ms-2 btn btn-sm btn-outline-danger" title="Agregar" (click)="nothing()">
              <i class="fa-solid fa-file-excel"></i> Descarga Listado
            </a>
          </div>


          <div *ngIf="pantalla==='adminctg'">
            <a  class="hand ms-2 btn btn-sm btn-outline-danger" title="Agregar" (click)="showCargaCtgs()">
              <i class="fa fa-upload"></i> Carga Masiva
            </a>
          </div>

          <div>
            <a  class="hand ms-2 btn btn-sm btn-outline-danger" title="Agregar" (click)="showRevisionRapida()">
              <i class="fa fa-eye"></i> Revisión Rápida
            </a>
          </div>

          <!--<div *ngIf="pantalla==='adminctg'">
            <a  class="hand ms-2 btn btn-sm btn-outline-danger" title="Agregar" (click)="nothing()">
              <i class="fa-solid fa-file-excel"></i> Descarga Listado
            </a>
          </div>-->

          <div class="btn-group" role="group" *ngIf="pantalla==='adminctg'">
            <button type="button" class="btn ms-2 btn-sm btn-outline-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa-solid fa fa-download"></i> Descarga
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item hand" (click)="nothing()">
                <i class="fa-solid fa-file-excel"></i> Descargar Listado </a></li>
              <li><a class="dropdown-item hand" (click)="nothing()">
                <i class="fa-solid fa fa-download"></i> Descargar Plantilla</a></li>
            </ul>
          </div>



          <!--
          <div *ngIf="pantalla==='catalogos'">
            <a  class="hand ms-2 btn btn-sm btn-outline-danger" title="Agregar" (click)="gotoCatalogos()">
              <i class="fa fa-plus"></i> Nuevo Catálogo
            </a>
          </div>
          -->
        </div>
      </div>

    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="separadorcorp whitetextcolor">
      {{titulo}}
    </div>
  </div>
</div>

<main style="height: 100%;">
  <router-outlet></router-outlet>
</main>

<footer class="mt-5">
  <div class="container">
    <div class="row fondocorp corpfooter">
      <div class="col-md-6">
        Usuario: (smxadmin) SILVIA CARLINA ABBOUD ABUD (ADMINISTRADOR)
      </div>
      <div class="col-md-2">
        Perfil: ANALISTA DESARROLLO
      </div>
      <div class="col-md-2">
        Formato de negocio:OFICINAS
      </div>
      <div class="col-md">
        Versión: 1.0.0
      </div>
    </div>
  </div>
</footer>
