<header class="navbar navbar-expand-md">
  <div class="container">
    <div class="row w-100">
      <div class="col-md-3">
        <span class="h3 textcolorcorp ">CAPED</span>  
      </div>
      <div class="col-md">
        <div class="d-flex flex-row">
          <div class="botonhome">
            <a href="#">
              <img src="assets/params/images/home.png" alt="Inicio">
            </a>
          </div>
          <!--          
          -->
          <div>
            <a  class="hand" title="Agregar" (click)="showModalAgregar()">
              <img src="assets/params/images/plusicon.png" alt="Agregar">              
            </a>
          </div>

          <div>
            <a class="hand" title="Crear" (click)="showModalCrear()">
              <img src="assets/params/images/newdocument.png" alt="Crear">
            </a>            
          </div>
        </div>
      </div>
      
    </div>    
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="separadorcorp whitetextcolor">
      Gestión Estructura de Artículos
    </div>  
  </div>
</div>

<main style="height: 70%;">
  <router-outlet></router-outlet>
</main>

<footer class="mt-5">
  <div class="container">
    <div class="row fondocorp corpfooter">
      <div class="col-md-6">
        Usuario: (smxadmin) SILVIA CARLINA ABBOUD ABUD (ADMINISTRADOR)
      </div>
      <div class="col-md-2">
        Perfil: ANALISTA DESARROLLO
      </div>
      <div class="col-md-2">
        Formato de negocio:OFICINAS
      </div>
      <div class="col-md">
        Versión: 1.0.0
      </div>      
    </div>  
  </div>
</footer>