.barra{
    width: 30%;

}
.main{
    width: 70%;

}

.alldiv{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.main{
    color: green;    
}

.max{
    color: orange;

}

.eco{
    color:blue;
}