<div class="container mt-3">

    <div class="alldiv">
        <section class="barra border p-3 ">

            <div class="me-3">
                <p class="textcolorcorp">Filtros de búsqueda</p>
                <div class="border p-2">
                    <p class="m-0 p-0 mt-1">- <span class="requerido">Código Barras:</span> </p>
                    <div>
                        <input type="text" class="form-control form-control-sm">
                    </div>
                </div>

                <div class="border p-2" style="height: 280px; overflow: auto;">
                    <div>
                        <span class="fs-6 fw-lighter">Características Ecommerce:</span>
                    </div>

                    <p class="m-0 p-0 mt-2">- Colección:</p>
                    <div>
                        <input type="text" class="form-control form-control-sm">
                    </div>

                    <p class="m-0 p-0 mt-2">- Color:</p>
                    <div>
                        <input type="text" class="form-control form-control-sm">
                    </div>

                    <p class="m-0 p-0 mt-2">- Edad:</p>
                    <div>
                        <input type="text" class="form-control form-control-sm">
                    </div>

                    <p class="m-0 p-0 mt-2">- Armado:</p>
                    <div>
                        <input type="text" class="form-control form-control-sm">
                    </div>

                    <p class="m-0 p-0 mt-2">- Descripción:</p>
                    <div>
                        <input type="text" class="form-control form-control-sm">
                    </div>

                    <p class="m-0 p-0 mt-2">- Alto:</p>
                    <div>
                        <input type="text" class="form-control form-control-sm">
                    </div>

                    <p class="m-0 p-0 mt-2">- Ancho:</p>
                    <div>
                        <input type="text" class="form-control form-control-sm">
                    </div>

                    <p class="m-0 p-0 mt-2">- Profundidad:</p>
                    <div>
                        <input type="text" class="form-control form-control-sm">
                    </div>

                    <p class="m-0 p-0 mt-2">- Rin:</p>
                    <div>
                        <input type="text" class="form-control form-control-sm">
                    </div>

                    <p class="m-0 p-0 mt-2">- Talla:</p>
                    <div>
                        <input type="text" class="form-control form-control-sm">
                    </div>

                    <p class="m-0 p-0 mt-2">- Peso:</p>
                    <div>
                        <input type="text" class="form-control form-control-sm">
                    </div>

                    <p class="m-0 p-0 mt-2">- Tag:</p>
                    <div>
                        <input type="text" class="form-control form-control-sm">
                    </div>
                    <p class="m-0 p-0 mt-2">- División:</p>
                    <div>
                        <input type="text" class="form-control form-control-sm">
                    </div>
                </div>

                <div class="border p-2" style="height: 280px; overflow: auto;">
                    <div>
                        <span class="fs-6 fw-lighter">Características MAX:</span>
                    </div>
                    <p class="m-0 p-0 mt-2">- Marca:</p>
                    <div>
                        <input type="text" class="form-control form-control-sm">
                    </div>
                    <p class="m-0 p-0 mt-2">- Clasificación:</p>
                    <div>
                        <input type="text" class="form-control form-control-sm">
                    </div>
                    <p class="m-0 p-0 mt-2">- Presentación:</p>
                    <div>
                        <input type="text" class="form-control form-control-sm">
                    </div>
                    <p class="m-0 p-0 mt-2">- Clase Artículo:</p>
                    <div>
                        <input type="text" class="form-control form-control-sm">
                    </div>
                </div>
                <div class="mt-2 d-flex flex-row-reverse">
                    <button class="btn btn-danger" (click)="loadArticulos()">Buscar</button>
                </div>
            </div>
        </section>
        <section class="main border">

            <p-table [value]="articulos" responsiveLayout="scroll" *ngIf="articulos.length>0" [paginator]="true"
                [rows]="8" paginatorPosition="both">
                <ng-template pTemplate="header">
                    <tr>
                        <th><span class="main">Nro </span> </th>
                        <th><span class="main">Código Barras</span></th>
                        <!--<th>Descripción</th>-->
                        <th><span class="eco">MARCA</span></th>
                        <th><span class="eco">CLASIFICACIÓN</span></th>
                        <th><span class="eco">PRESENTACIÓN</span></th>
                        <th><span class="eco">CLASE ARTÍCULO</span></th>
                        <th><span class="max">COLECCION</span></th>
                        <th><span class="max">COLOR</span></th>
                        <th><span class="max">EDAD</span></th>
                        <th><span class="max">ARMADO</span></th>
                        <th><span class="max">DESCRIPCION</span></th>
                        <th><span class="max">GENERO</span></th>
                        <th><span class="max">COLOR HEX</span></th>
                        <th><span class="max">NOMBRE</span></th>
                        <th><span class="max">ALTO</span></th>
                        <th><span class="max">ANCHO</span></th>
                        <th><span class="max">PROFUNDIDAD</span></th>
                        <th><span class="max">PESO</span></th>
                        <th><span class="max">CATEGORIA</span></th>
                        <th><span class="max">SUBCATEGORIA</span></th>
                        <th><span class="max">NOMBRE SIMPLE</span></th>
                        <th><span class="max">CARACTERISTICA PRINCIPAL</span></th>
                        <th><span class="max">MARCA</span></th>
                        <th><span class="max">PRESENTACION</span></th>
                        <th><span class="max">CANTIDAD</span></th>
                        <th><span class="max">UNIDAD MEDIDA</span></th>
                        <th><span class="max">TAG</span></th>
                        <th><span class="max">PESO DELIVERY</span></th>
                        <th><span class="max">RIN</span></th>
                        <th><span class="max">TALLA</span></th>
                        <th><span class="max">GENERO</span></th>
                        <th><span class="max">AGRUPADOR ARTICULO</span></th>
                        <th><span class="max">DIVISION</span></th>                       
                        <th><span class="eco">FECHA CARGA</span></th>
                        <th><span class="eco">FECHA ACTUALIZACIÓN</span></th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-product>
                    <tr>
                        <td><span class="main">{{articulos.indexOf(product)+1}}</span></td>
                        <td><span class="main">{{product.codbarra}}</span></td>
                        <!--<td>{{product.descripcion}}</td>-->
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>

                        <td class="d-flex">
                            <button class="btn btn-sm btn-outline-danger" (click)="gotoEdit(product)">
                                <i class="fa fa-eye"></i>
                            </button>
                            <button class="btn btn-sm btn-outline-danger" (click)="showEdit(product)">
                                <i class="fa fa-edit"></i>
                            </button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>


            <p-dialog header="Detalle artículo" [(visible)]="isShowModalView" [style]="{width: '80vw'}">
                <div>
                    <app-feature [codbarra]="artsel.codbarra"></app-feature>
                </div>
                <ng-template pTemplate="footer">
                    <button class="btn btn-danger" (click)="closeView()">Cerrar <span class="pi pi-times"></span>
                    </button>
                </ng-template>
            </p-dialog>

            <p-dialog header="Detalle artículo" [(visible)]="isShowModalEdit" [style]="{width: '80vw'}">
                <div>
                    <app-feature-edit [codbarra]="artsel.codbarra"></app-feature-edit>
                </div>
                <ng-template pTemplate="footer">
                    <button class="btn btn-success" (click)="closeEdit()">Guardar <span
                            class="pi pi-save"></span></button>
                    <button class="btn btn-danger" (click)="closeEdit()">Cerrar <span class="pi pi-times"></span>
                    </button>
                </ng-template>
            </p-dialog>

            <p-dialog header="Nueva Característica" [(visible)]="isShowModalNewFeature" [style]="{width: '50vw'}">
                <div>
                    <app-newfeature> </app-newfeature>
                </div>
                <ng-template pTemplate="footer">
                    <button class="btn btn-success" (click)="closeNewFeature()">Guardar <span
                            class="pi pi-save"></span></button>
                    <button class="btn btn-danger" (click)="closeNewFeature()">Cerrar <span
                            class="pi pi-times"></span></button>
                </ng-template>
            </p-dialog>

            <p-dialog header="Cargar artículos" [(visible)]="isShowModalCarga" [style]="{width: '50vw'}">
                <div>
                    <div class="card ">
                        <div class="card-header">
                            Seleccionar archivo
                        </div>
                        <p-fileUpload name="demo[]" url="./upload.php" (onUpload)="onUpload($event)"
                            [multiple]="uploadSetting.multiple" accept="image/*"
                            [maxFileSize]="uploadSetting.maxFileSize">
                            <ng-template pTemplate="content">
                                <ul *ngIf="uploadedFiles.length">
                                    <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes
                                    </li>
                                </ul>
                            </ng-template>
                        </p-fileUpload>
                    </div>
                    <div class="card mt-2">
                        <div class="card-header">
                            Tipo de carga
                        </div>
                        <div class="card-body">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault"
                                    id="flexRadioDefault2" checked>
                                <label class="form-check-label" for="flexRadioDefault2">
                                    Agregar
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <ng-template pTemplate="footer">
                    <button class="btn btn-success" (click)="closeCarga()">Guardar <span
                            class="pi pi-save"></span></button>
                    <button class="btn btn-danger" (click)="closeCarga()">Cancelar <span
                            class="pi pi-times"></span></button>
                </ng-template>
            </p-dialog>
        </section>
    </div>
</div>