<div class="container mt-3">
    <p-toast></p-toast>

    <div class="alldiv">
        <section class="barra border p-3 ">
            <div class="me-3">
                <p class="textcolorcorp">Filtros de búsqueda</p>
                <!--
                <p class="m-0 p-0 mt-1">- <span class="requerido">Tipo Catálogo:</span> </p>
                <div class="p-fluid">
                    <p-dropdown [options]="options" [(ngModel)]="selectedoption" optionLabel="name"
                            placeholder="Elija una opcion"></p-dropdown>                    
                </div>
                -->

                <p class="m-0 p-0 mt-2"> Nombre:</p>
                <div>
                    <input type="text" class="form-control form-control-sm">
                </div>

                <div class="mt-2 d-flex flex-row-reverse">
                    <button class="btn btn-danger" (click)="loadCatalogos()">Buscar</button>
                </div>
            </div>


        </section>
        <section class="main border">

            <p-table [value]="catalogos" responsiveLayout="scroll" *ngIf="catalogos.length>0" [paginator]="true"
                [rows]="5" paginatorPosition="both">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Nro</th>
                        <th>Nombre</th>
                        <th>Acciones</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-catalogo>
                    <tr>
                        <td class="celda">{{catalogo.codigo}}</td>
                        <td class="celda">{{catalogo.nombre}}</td>
                        <td class="celda d-flex">
                            <!--<button class="btn btn-sm btn-outline-primary" (click)="eliminar(catalogo)">
                                <i class="fa fa-trash"></i>
                            </button>
                            <button class="btn btn-sm btn-outline-primary" (click)="editar(catalogo)">
                                <i class="fa fa-edit"></i>
                            </button>-->
                            <button class="btn btn-sm btn-outline-danger" (click)="verFeature(catalogo)">
                                <i class="fa fa-eye"></i>
                            </button>

                            <button class="btn btn-sm btn-outline-danger" (click)="editarFeature(catalogo)">
                                <i class="fa fa-edit"></i>
                            </button>

                        </td>
                    </tr>
                </ng-template>
            </p-table>


            <p-dialog header="Nuevo Catálogo" [(visible)]="isShowModalNew" [style]="{width: '50vw'}">
                <div>

                    <div class="row">
                        <div class="col-md-3">
                            <label for=""> Tipo Catálogo: </label>
                        </div>
                        <div class="col-md">
                            <input type="text" class="form-control" value="Tags" disabled>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <label for=""> Nombre: </label>
                        </div>
                        <div class="col-md">
                            <input type="text" class="form-control" [(ngModel)]="newcatalogo.nombre">
                        </div>
                    </div>
                    
                    <!--
                    <div class="row">
                        <div class="col-md-3">
                            <label for=""> Temporal: </label>
                        </div>
                        <div class="col-md">
                            <select class="form-select" aria-label="Default select example" [(ngModel)]="tipotemp">
                                <option value="1" selected>No</option>
                                <option value="2">Si</option>
                            </select>
                        </div>
                    </div>

                    <div *ngIf="isCatalogoTemp()" class="mt-2">
                        <div class="row">
                            <div class="col-md-3">
                                <span>Fecha Desde:</span>
                            </div>
                            <div class="col-md">
                                <input type="date" class="form-control">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <span>Fecha Hasta:</span>
                            </div>
                            <div class="col-md">
                                <input type="date" class="form-control">
                            </div>
                        </div>
                    </div>
                    -->

                </div>
                <ng-template pTemplate="footer">
                    <button class="btn btn-danger" (click)="saveNew()">Guardar <span class="pi pi-save"></span></button>
                    <button class="btn btn-danger" (click)="closeNew()">Cerrar <span class="pi pi-times"></span>
                    </button>
                </ng-template>
            </p-dialog>

            <p-dialog header="Editar Catálogo" [(visible)]="isShowModalEdit" [style]="{width: '50vw'}">
                <div>

                    <div class="row">
                        <div class="col-md-3">
                            <label for=""> Tipo Catálogo: </label>
                        </div>
                        <div class="col-md">
                            <input type="text" class="form-control" value="Tags" disabled>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <label for=""> Nombre: </label>
                        </div>
                        <div class="col-md">
                            <input type="text" class="form-control" [(ngModel)]="catalogosel.nombre">
                        </div>
                    </div>

                </div>
                <ng-template pTemplate="footer">
                    <button class="btn btn-danger" (click)="closeEdit()">Guardar <span
                            class="pi pi-save"></span></button>
                    <button class="btn btn-outline-secondary" (click)="closeEdit()">Cerrar <span
                            class="pi pi-times"></span>
                    </button>
                </ng-template>
            </p-dialog>
            
        </section>
    </div>

    <p-dialog header="Nueva Característica" [(visible)]="isShowModalNewFeature" [style]="{width: '50vw'}">
        <div>
            <app-newfeature> </app-newfeature>
        </div>
        <ng-template pTemplate="footer">
            <button class="btn btn-success" (click)="closeNewFeature()">Guardar <span
                    class="pi pi-save"></span></button>
            <button class="btn btn-danger" (click)="closeNewFeature()">Cerrar <span class="pi pi-times"></span></button>
        </ng-template>
    </p-dialog>


    <p-dialog header="Detalles Característica" [(visible)]="isShowModalViewFeature" [style]="{width: '50vw'}">
        <div>
            <app-viewfeature [feature]="selectedFeature"></app-viewfeature>
        </div>
        <ng-template pTemplate="footer">                    
            <button class="btn btn-outline-secondary" (click)="closeViewFeature()">Cerrar <span
                    class="pi pi-times"></span>
            </button>
        </ng-template>
    </p-dialog>

    <p-dialog header="Editar Característica" [(visible)]="isShowModalEditFeature" [style]="{width: '50vw'}">
        <div>
            <app-newfeatureedit [feature]="selectedFeature"></app-newfeatureedit>
        </div>
        <ng-template pTemplate="footer">                    
            <button class="btn btn-success" (click)="closeEditFeature()">Guardar <span
                class="pi pi-save"></span></button>
            <button class="btn btn-outline-secondary" (click)="closeEditFeature()">Cerrar <span
                    class="pi pi-times"></span>
            </button>
        </ng-template>
    </p-dialog>


</div>