<div class="container" style="height: 100%;">
    <div class="row mt-4" style="height: 100%;">

<div>
    <div class="row g-1">
        <div class="col-md-3">
            <div class="caja shadow border d-flex hand" (click)="gotoBusqueda()">
                <i class="ico fa-brands fa-intercom"></i>
                <span class="mt-3 center">GESTIÓN DE CARACTERÍSTICAS DE ARTÍCULO</span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="caja shadow border d-flex hand" (click)="gotoCatalogos()">
                <i class="ico fa-solid fa-tag"></i>
                <span class="mt-3 center">ADMINISTRACIÓN DE CARACTERÍSTICAS</span>
            </div>
        </div>
        <div class="col-md-3">
          <div class="caja shadow border d-flex hand" (click)="gotoAdminCatalogos()">
              <!--<i class="ico fa-solid fa-tag"></i>-->
              <i class="ico fa-solid fa-folder"></i>
              <span class="mt-3 center">ADMINISTRACIÓN DE CATÁLOGOS</span>
          </div>
        </div>
        <!--
        <div class="hand col-md-3 border shadow p-4" (click)="goto(2)">
            <span>Estructura</span>
        </div>
        <div class="hand col-md-3 border shadow p-4" (click)="goto(1)">
            <span>Niveles</span>
        </div>
        -->

    </div>
</div>

</div>
</div>
