<div class="container mt-3">
    <div class="border">
        <div class="card mt-1">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-5">
                        <div class="border">
                            <img src="assets/params/images/imgabarrotesvarios.jpg" alt="Img categ" class="img-fluid">
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="row">
                            <div class="col-md-4">
                                Código Barra:
                            </div>
                            <div class="col-md">
                                <span class="fw-bold">{{articulo.codbarra}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                Nombre Ecommerce:
                            </div>
                            <div class="col-md">
                                <span class="fw-bold">{{articulo.nomecommerce}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                Descripción Ecommerce:
                            </div>
                            <div class="col-md">
                                <span class="fw-bold">{{articulo.descripcion}}</span>
                            </div>
                        </div>

                        <div class="row mt-4">
                            <div class="col-md-4">
                                MARCA:
                            </div>
                            <div class="col-md">
                                <span class="fw-bold">--</span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                CLASIFICACIÓN:
                            </div>
                            <div class="col-md">
                                <span class="fw-bold">--</span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                PRESENTACIÓN:
                            </div>
                            <div class="col-md">
                                <span class="fw-bold">--</span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                CLASE ARTÍCULO:
                            </div>
                            <div class="col-md">
                                <span class="fw-bold">--</span>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-4">
                                FECHA ACTUALIZACIÓN:
                            </div>
                            <div class="col-md">
                                <span class="fw-bold"> 01/01/2023  </span>
                            </div>
                        </div>

                    </div>
                </div>
                <table class="table table-bordered">
                    <thead>
                        <tr>                            
                            <th scope="col">CARACTERISTICA</th>
                            <th scope="col">VALOR</th>                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="col">COLOR</th>
                            <td class="table-success">
                                <input type="text" class="form-control" value="Negro con Rojo"/> 
                            </td>
                        </tr>
                        <tr>
                            <th scope="col">EDAD</th>
                            <td class="table-danger">
                                <input type="text" class="form-control" value=""/> 
                            </td>
                        </tr>
                        <tr>
                            <th scope="col">ARMADO</th>
                            <td class="table-success">
                                <input type="text" class="form-control" value="MEDIA"/> 
                            </td>
                        </tr>
                        <tr>
                            <th scope="col">NOMBRE</th>
                            <td class="table-success">
                                <input type="text" class="form-control" value="Silla Gamer Negro Con Rojo Sa-R-7B Spice Time"/>
                            </td>                     
                        </tr>
                        <tr>
                            <th scope="col">ALTO</th>
                            <td class="table-danger">
                                <input type="text" class="form-control" value=""/>
                            </td>
                        </tr>
                        <tr>
                            <th scope="col">ANCHO</th>
                            <td class="table-success">
                                <input type="text" class="form-control" value="167"/>
                            </td>
                        </tr>
                        <tr>
                            <th scope="col">PROFUNDIDAD</th>
                            <td class="table-success">
                                <input type="text" class="form-control" value="53"/>
                            </td>
                        </tr>                            
                        <tr>
                            <th scope="col">TAG</th>
                            <td class="table-danger">
                                <div class="p-fluid">
                                    <p-multiSelect [options]="tags" [(ngModel)]="selectedTags" defaultLabel="Seleccione las etiquetas" optionLabel="name" selectedItemsLabel="{0} items selected"></p-multiSelect>
                                </div>                                
                            </td>
                        </tr>
                        <tr>
                            <th scope="col">DIVISIÓN</th>
                            <td class="table-danger">
                                <div class="p-fluid">
                                    <p-multiSelect [options]="divisiones" [(ngModel)]="selectedDivision" defaultLabel="Seleccione" optionLabel="name" selectedItemsLabel="{0} items selected"></p-multiSelect>
                                </div>                                
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>